* {
	box-sizing: border-box;
}
body {
	background-color: #f1f1f1;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #f1f1f1;
}

header {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 15px;
}

header img {
	width: 30px;
}

header h1 {
	font-family: "Roboto", sans-serif;
	font-size: 30px;
	font-weight: 700;
}

.container {
	width: 700px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
	gap: 10px;
}

#inputForm {
	width: 100%;
	display: flex;
	align-items: center;
	padding: 7px 0px 7px 0px;
	gap: 20px;
}

#inputForm input {
	height: 30px;
	padding: 3px;
	border: none;
	border-bottom: 3px solid black;
	font-family: "Roboto", sans-serif;
	font-size: 15px;
}

#inputForm input::placeholder {
	font-size: 15px;
	padding: 3px;
}

#inputAtividade {
	width: 200px;
}

#inputNota {
	width: 60px;
}

#inputForm button {
	height: 30px;
	width: 100px;
	font-family: "Roboto", sans-serif;
	font-size: 15px;
	font-weight: 500;
	color: #ffffffff;
	border: none;
	background-color: #1ebf08;
}

#inputForm button:hover {
	background-color: #49e834;
}

#inputForm button:focus {
	background-color: #5bb14f;
}

#resultsTable {
	width: 100%;
}

#resultsTable tr {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	height: 50px;
	border-bottom: 1px solid black;
}

#resultsTable td {
	font-family: "Roboto", sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
}

#resultsTable td img {
	height: 25px;
}
.resultsTitles {
	border-bottom: 2px solid black;
	padding: 5px 0px 5px 0px;
}

.resultsTitles h3 {
	font-family: "Roboto", sans-serif;
	font-weight: 700;
}

.Aprovado,
.Reprovado {
	font-weight: 500;
	color: #ffffff;
	width: 80px;
	height: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 3px;
}

.Aprovado {
	background-color: #1ebf08;
}
.Reprovado {
	background-color: #f74343;
}
